
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading"><h1><a>Michelle Alarie</a></h1></h1>
                        <p class="intro-text"><h3>A junior web developper and overall tech enthusiast. Commmited to helping others experience the magic in code, and life long dedication & passion in learning.</h3> </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Me Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1><a>Oh, Hello there... </a></h1>
                <br><br>
                <p>Allow me to introduce myself! My name is Michelle and I am a junior web developper. This role was recommended to me by a fellow web dev, and after looking into ShopStorm and spending time on the site; I can see why. 
                <p> The opportunity to not only code, but also help people while doing so is what fires me up. I love using my skills to help others who might not be as code-literate.
                <p> When it comes to code, I am filled with enthusiasm and passion. I love the work behind ShopStorm, and the help & tools it offers people is very admirable. Having the opportunity to work with customers and helping them with their code is something that makes being a web dev such a great gig!
                <p> I have years of experience dealing with and helping clients. Ensuring my customers are happy, and provided with outstanding service is something I have built my reputation on. As I transitioned into the web development world, I realized that my passion for code mixed with my years of experience in customer service could help me thrive in a niche market. <h4>I often feel like a special translator for customers and code; speaking two different languages but enabling them to work together cohesively and effectively.</h4> 
                <br><br><br>
                <p>-------------------------------------------------</p>
                <br><br>
    <!-- Telling a Customer No Section -->
                <p> <a href="https://beautifullydelicate.files.wordpress.com/2014/09/istock_hiding_behind_desk-70112828.jpg"><h1>Telling a customer "no"</h1></a></p> 
                <br>
                <p>"One of the most dreaded things to have to do when in customer service is being unable to grant the customer exactly what they want." </p>
                <p>A few years ago I held a position where I was constantly dealing with customers and orders they had placed online. The orders were for dress rentals; an order would be placed online for a dress to be delivered on a certain date and then returned in the mail (from the customer) four days after they received it.</p>
                <p>Every so often, I would need to deal with a customer that mistakenly entered inaccurate dates for them to receive their item.  Although it was result of their error, I still felt responsible for their overall experience which usually included some form of frustration (due to the error). When errors are made, no one benefits from the process. The key for me was ensuring that the proper steps were taken quickly, and without any extra frustration endured by the customer.  When a customer is upset they need someone to listen, to empathize with them, and walk them through the solution. </p>
                <p>On one occasion, a woman intended to have a dress delivered to her on a specific date, however, she mistakenly booked it for the following month. She called very anxious and demanded where her dress was. Upon review of her order, I informed her that it wasn’t supposed to be delivered until the following month. She immediately freaked out and began explaining that she would have never done that and that our system made the error. I took down all her information and told her I would quickly look into things and call her back within one hour. Unfortunately, the dress she had booked for the following month was not in the showroom (so I couldn’t even courier it to her quickly). I looked into her account, and had 3 similar dresses pulled for her in her size in hopes that we could send her those and she could choose one accordingly. I called her back to explain what we could do. Although she wasn't happy that her original choice was unavailable: she agreed, and also paid for the dresses to be couriered to her that day. A few days later she emailed me to thank me and apologized for her behavior. Even though the customer made the error, I did not feel comfortable with the experience and service she received. I offered her a 20% discount to put towards her next rental and included my contact information so I could ensure her next order went smoothly. </p>
                <p>That customer experience will always stay with me because she ended up being a repeat (and very happy) customer by the time I left. I think she appreciated the way I handled the situation, and the fact that I really wanted to ensure that she received good customer service regardless of who was at fault. </p>
                <br><br><br>
                <p>-------------------------------------------------</p>
                <br><br><br>
                <p><a href="https://usercontent1.hubstatic.com/2467502_f520.jpg"><h1>The customer is always, without a doubt: right.</h1></a> 
                <p> (Unless they argue that they're wrong. That would be confusing...)</p>
                <br><br><br><br><br>
                <p>-------------------------------------------------</p>
            </div>
        </div>
    </section>

    <!-- Favorite EMOJI Section-->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                <p><h1>Did someone say emoji???</h1></p>
                <br><br>
                <img src="https://m.popkey.co/b335c0/E8abY.gif" alt="Mountain View" style="width:424px;height:258px;">
                <br><br><br>
                <p><h4>Help Wanted: I am currently seeking a new favorite emoji. </h4></p>
                <p>For many years, I have consistently used the  <i class="em em-construction_worker"></i> emoji. When I wanted to offer words of wisdom, or to convey a sense of understanding, I always relied upon  <i class="em em-construction_worker"></i>. It was not until a few months ago that I discovered that he was not a wise, religious man wearing a hat and offering a nodding head of empathy; he is, in fact a construction worker. I am still unsure as to why he looks like he is sleeping, but I am concerned that he will inevitably get fired. Any recommendations are appreciated, and I am hoping to have a new favorite emoji within the coming weeks. </p>
                </div>
            </div>
        </div>
    </section>



    <!-- PRE-SALES Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <a><h2> Let's get down to business </h2></a>
            <p>"I'm considering switching to Product Customizer. Does your app allow live image previews?"</p>
             <p> How exciting!! If you're considering making the switch, then I'm sure you are either currently experiencing (or anticipating) growth in your products and sales (which is awesome!) Live preview is a great feature for small inventories, but Product Customizer allows your business to expand at a quick and efficient rate. Applying bulk actions and options to variants is a great way and tool provided by Product Customizer that will save you time and effort. Live image previews are good for one specific item, but once an item starts to have options, colors, sizes, etc. this feature begins to slow down the process, and limits your abilities managing your store. Part of the power behind Product Customizer is that it saves you time customizing products, and applying bulk actions across the board.</p>
             <p>Think of it as having to sort a pile of receipts. You are given the task to order them from oldest to newest. The most efficient way to do this would be to sort through the receipts and create smaller piles based on year, and then month, and then ultimately date. For the sake of this example, incorporating a “live preview” option would be like telling you that you have to sort them based on their individual date; no grouping them by year or month. Of course this would take an excruciating amount of time longer, unless you were dealing with a very smile amount of receipts. Obviously, the goal is to have the most sales/receipts possible. Product Customizer enables you to sort your receipts efficiently; allowing your pile to grow quickly and steadily. 
             </p>
             <p> Why don't you let me know a little bit more about what your current process and what your goals are? Product Customizer is an amazing tool-  together, we can come up with a solution that gets you on the road to your goals. </p>
        <br><br><br><br><br>
        <p>-------------------------------------------------</p>
        <br><br><br><br><br>
    <!-- FIRE ALARM Section -->
            <a><h2>Fire!!!</h2></a>
             <p> Part of my ability to offer great customer support is my ability to remain calm and collected even during moments of panic. In the scenario provided where I am met with numerous distraught customers, I would do the following: 
             <br>
             <a>Step 1:</a> I would scroll through all the emails quickly to try and get a general sense of the issue(s). <a>Step 2: </a> I would search my emails to see if there was any from a ShopStorm rep explaining the issue. If I was able to locate an email explaining what was happening, then I would take the appropriate steps as outlined by the email and get to the customers right away. If there was zero sign of ShopStorm being aware of the issue(s) then I would immediately contact my supervisor to provide them with information gathered based on my findings when scrolling through the emails. 
             <p>If it was something I knew I could fix/handle in full and in a timely matter (& was authorized to do so), then I would quickly start to work at fixing the situation. I would contact my supervisor telling them of my current action plan and whether or not I thought I would need further assistance</p>
             <a href="http://abload.de/img/in_case_of_fireirrtb.jpg" class="btn btn-default btn-lg">Did someone say fire?</a><br><br><br>
        <br><br><br><br><br>
        <p>-------------------------------------------------</p>
        <br><br><br><br><br>
    <!-- STEP BY STEP Section -->
            <a><h2>Step-by-Step: <br> A Walkthrough My Last Purchase</h2></a>
             <p>The last purchase I made online was for a book on Amazon. 
             <br><br>Quick overview of process: <br>Search Page --> Listings Page --> Product Page --> Cart --> Account Log in --> Order Review Page --> Order Confirmation <br><br>
             **Note: I am not required to log in/confirm my account until I am making a purchase. Otherwise I am signed into my account and it keeps track of my cart. For someone not logged in then they would be redirected/required to log into their account before being able to add items to their cart. 
             <p><a>1)  Navigate </a>to the webpage (www.amazon.ca)
             <p><a>2)  Search: </a>Along the top (header) of the page, to the right of the “amazon.ca” logo, you will see a search bar. With your mouse, click on the blank area of the search bar; doing so will enable you to type in it. Here is where you will type the name of the book you are looking for. You will notice that as you are typing, a dropdown menu will appear with suggestions on what it thinks you are looking for. If you see the item you are looking for, simply use your mouse to click on that item and then skip ahead to the next step. Otherwise, once you have finished typing, feel free to hit enter on your keyboard, or (with your mouse) click on the yellow area with a magnifying glass to the right of the search bar. 
            <p><a>3)  Listings Page:</a> You will see that Amazon returns a bunch of different options based on what it is you typed, and has returned the most relevant items. If it was unable to find a match or relevant information, it will tell you. Return to the search bar from the previous section, and try refining your search. If you entered a long book title, try cutting it down to the main words in the title, or by putting in the author’s name only. <br>Once you have some listings returned, feel free to scroll through them; as you do, notice the options/details for each returned entry. There should be a title, and then details about that specific listing (ex. buying options, shipping information, seller information, reviews, etc.) Personally, once I find one that is relevant to my search, suits my budget and has positive reviews I normally will choose that one. <br>If you feel that this is not sorted to your liking, there are numerous other options. On the top right side of your screen, under your settings (account, wish-list, cart, etc) there is a “Sort by” dropdown menu. You can choose a different way to sort how the returned listings are presented to you (if you so choose). 
             <p><a>4)  The Product Page: </a>Once you have clicked on the listing of your choosing, Amazon will redirect you to the product page. This page will include more information for you to read and review on that specific product. You may be provided with other options or details also. 
             <p><a>5)  Beginning the Checkout Process: </a>If you are satisfied with this listing then you can begin the checkout process (otherwise, go back to the listing page and choose another listing). Along the right side of the window there is square with the purchase information. You may be presented with other options (ex. quantity) for you to choose from. If you are satisfied with the purchasing information, click on the “Add to Cart” yellow button. 
             <p><a>6)  Your Cart: </a> After clicking “Add to Cart” you will be redirected to a page confirming that it has been “Added to Cart”. Here you will see two buttons to choose from. “Cart” will bring you to your shopping cart. If you have added other items to your cart previously, then you will see them all located here. The second option is to “Proceed to checkout”. If you are done shopping, then you can click on this option (for this tutorial we will be choosing this option). 
             <p><a>7)  Account Confirmation: </a>You will be asked to sign in to your account and can click the yellow “Sign in” button. If you do not have an account, then you will have to “Create your Amazon Account” and follow the directions it leads you through. (For the sake of this tutorial we will assume you have an existing account). 
             <p><a>8)  Reviewing and Placing Your Order:</a> Please take a moment on this page to ensure that all the information is correct. You will want to make sure that your Shipping Address, Credit Card info, and the details regarding your purchase are correct. On the right hand side, you will see a breakdown of your Order Summary. If all the information is correct, click on the yellow button to “Place your order” 
             <p><a>9)  Congratulations! </a>You have now purchased an item and successfully completed an order. It may take a few moments for Amazon to confirm the purchase; make sure not to refresh your page while waiting. You should see an order confirmation with an order number for your records. You should also receive an emailed copy confirming your transaction (I always like to jot down the order number confirmation regardless, just to be safe!) . If you are encountered with an issue and your order was not completed, please follow the steps that Amazon is giving you. Otherwise, feel free to navigate away from the page and enjoy your purchase! 
             </p>
             <p><a href="mailto:feedback@startbootstrap.com">alarie.michelle@gmail.com</a>
             </p>

    <!-- Footer Icons Section -->
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.instagram.com/m.i.c.h.e.l.l.a.l.a/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/michellala" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>

                        <a href="http://prohdled.ca/" class="btn btn-default btn-lg"><i class="fa fa-spinner" aria-hidden="true"></i> <span class="network-name">In Progress</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


